# AWS認証情報
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_DEFAULT_REGION=ap-northeast-3

# Flask設定
SECRET_KEY=your_secret_key_here
FLASK_DEBUG=False

# 認証設定
LOGIN_ID=your_login_id
LOGIN_PASSWORD=your_password
